<div class="container">
    <div class="signup">
        <h2>Giriş Yap</h2>
        <form action="#">
            <input type="text" placeholder="Ad Soyad" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Şifre" required>
            <input type="password" placeholder="Şifre yeniden" required>
            <button type="submit">giriş yap</button>
        </form>
    </div>

    <div class="or">Yada</div>

    <div class="social-signin">
        <h2>Sosyal Ağ ile giriş yapın</h2>
        <button class="facebook"> Facebook ile giriş yap</button>
        <button class="X">X ile giriş yap</button>
        <button class="google"> Google ile giriş yap</button>
    </div>
</div>
