<table>
    <thead>
        <tr>
            <th>sürücüler</th>
            <th>Puanlar</th>
            <th>Ceza Puanları</th>
            <!-- Diğer başlıklar buraya eklenir -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1. M. Verstappen</td>
            <td>277</td>
            <td>26/1</td>
            <!-- Diğer veriler buraya eklenir -->
        </tr>
        <tr>
            <td>2. L. Norris</td>
            <td>199</td>
            <td>8/6</td>
            <!-- Diğer veriler buraya eklenir -->
        </tr>
        <!-- Diğer satırlar buraya eklenir -->
    </tbody>
</table>




