<header class="banner">
    <div class="logo">
      <h1><p style="color:rgb(160, 16, 16);">Yarışan Armadillolar</p></h1>
    </div>
    <nav>
      <div>
        <ul>
            <li><a href="/yariscilar_ligi">Yarışcılar Ligi</a></li>
            <li><a routerLink="ekipman_paketi">ekpipman paketi</a></li>
            <li><a routerLink="blog">Blog</a></li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outlines-success my-2 my-sm-0" type="submit">ara</button>
        </form>
    </nav>
    <div class="auth-buttons">
        <button class="kayit-ol">kayıt ol</button>
        <button class="oturum-ac">oturum aç</button>
    </div>
  </header>

