<app-banner><img src="/assets/banner.jpg"></app-banner>
  <main>
    <section class="hero">
      <nav>
        <ul>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <li><a routerLink="urunler">ürünler</a></li>
            <li><a routerLink="hakkinda">Hakkında</a></li>
            <li><a routerLink="iletisim">İletişim</a></li>
        </ul>
    </nav>
        <h2>düşün,Bize gel,Deneyimle,Al</h2>
        <p>hızın adresii</p>
        <div class="hero-buttons">
            <button> motor Teklif Al</button>
            <button>3D Demo Eriş</button>
        </div>
    </section>
  
    <section class="products">
        <div class="product-card">
            <img src="/assets/motor1.jpeg" alt="Yarış Motosikleti 1">
            <h3>sdasdas</h3>
        </div>
        <div class="product-card">
            <img src="/assets/motor2.jpeg" alt="Yarış Motosikleti 2">
            <h3></h3>
        </div>
        <div class="product-card">
            <img src="/assets/motor3.jpeg" alt="Yarış Motosikleti 3">
            <h3></h3>
        </div>
        <div class="product-card">
            <img src="/assets/motor4.jpeg" alt="Yarış Motosikleti 4">
            <h3></h3>
        </div>
    </section>
  </main>
  
<app-footer></app-footer>
  <!-- Yarış Motosikletleri Bölümü -->